{% extends "base.html" %}
{% load humanize %}
{% block main %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <h3>素因数分解を行います</h3>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <p>
                <a>{{ field }}</a>
            {% endfor %}
            <p>
            <input type="submit" value="計算" class="btn btn-info" />
        </form>
        {% if prime_number %}
        <b>{{ number }}</b>は、<b>{{ prime_number }}</b> です。
        {% endif %}
        {% if prime_number %}
        <p>
          計算時間は<b>{{ calculation_time }}</b>秒です。
        {% endif %}
    </div>
</div>
{% endblock %}
